*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('/images/library.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    display: grid;
    place-content: center;
    height: 100vh;
    text-align: center;
}
.container h1{
    font-size: 1.4rem;
    border: 3px solid white;
    background-color: black;
    color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 7px;
    font-weight: lighter;
}
main{
    height: fit-content;
    background-color: black;
    padding: 20px;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
}
.quote{
    font-size: 1.35rem;
    line-height: 1.4;
    margin-top: 15px;
color:white;
}
.person{
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 20px;
    color:white
}
button{
    font-size: 1rem;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 7px;
    border: 3px solid white;
}
button:hover{
    transform: scale(.95);
}
